#!/usr/bin/env python3
# -*- coding: utf-8 -*-

# .ics の出力先ディレクトリ
savedir = "./"

# しょぼいカレンダーの.ics配信uri。YOURIDを自分のidに変更すること。
url = r"http://cal.syoboi.jp/rss.php?usr=YOURID&filter=0&count=1000&days=7&titlefmt=%24(Mark)%24(MarkW)%20%24(ShortTitle)%20%24(SubTitleB)%20%5B%24(ChName)%5D&alt=ical"
